.waterfall-wrapper {
  column-gap: 10px;
  width: 100%;
  overflow: hidden;
}
.waterfall-wrapper .content {
  break-inside: avoid-column;
  margin-bottom: 10px;
}
.waterfall-wrapper .content img {
  width: 100%;
}
