.property {
  padding-bottom: 6px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(238, 232, 232, 0.55);
}
.property .attribute-name {
  width: 85px;
  white-space: nowrap;
}
Button {
  width: 100px;
  font-size: 16px;
}

select {
  background: transparent;
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #e1dcdc;
  border-radius: 4px;
  height: 34px;
  -webkit-appearance: none;
}

.swiper-content {
  height: 120px;
}

.rv-tabbar--fixed {
  width: 375px;
  margin-left: 49%;
  transform: translate(-49%);
  margin-bottom: 25px;
}
