.news-wrapper {
  padding: 10px;
}
.news-wrapper .content {
  display: flex;
  margin-bottom: 20px;
}
.news-wrapper .content img {
  width: 140px;
  height: 100px;
}
.news-wrapper .content .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
